Website/feedback.json
[{"id":"3f83af3c.5ee94","type":"tab","label":"feedback","disabled":false,"info":""},{"id":"6f8391c4.c1f7f","type":"ui_form","z":"3f83af3c.5ee94","name":"","label":"","group":"a83e8b08.260f18","order":1,"width":0,"height":0,"options":[{"label":"Enter Full Name","value":"name","type":"text","required":true,"rows":null},{"label":"E-mail","value":"email","type":"email","required":true,"rows":null},{"label":"Phone Number","value":"phone","type":"number","required":true,"rows":null},{"label":"Subject","value":"sub","type":"multiline","required":true,"rows":1}],"formValue":{"name":"","email":"","phone":"","sub":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":90,"y":320,"wires":[["eaf052ee.c9568","a28a8c0f.7b4ba","c3beeea3.7a40f"]]},{"id":"eaf052ee.c9568","type":"function","z":"3f83af3c.5ee94","name":"","func":"msg.payload=\"Hey \"+msg.payload.name+\"! Received your Feedback. Thank you for feedback\"\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":440,"wires":[["17327f25.6cca91"]]},{"id":"17327f25.6cca91","type":"ui_text","z":"3f83af3c.5ee94","group":"89e89c3d.21ff4","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":410,"y":440,"wires":[]},{"id":"b2364aa0.35fd18","type":"dashDB out","z":"3f83af3c.5ee94","dashDB":"e4e5a25d.075a6","service":"_ext_","table":"FEEDBACK","name":"","x":550,"y":320,"wires":[]},{"id":"a28a8c0f.7b4ba","type":"function","z":"3f83af3c.5ee94","name":"","func":"var emotion_tone = global.get(\"emotion_tone\")\nvar social_tone = global.get(\"social_tone\")\nmsg.payload= {\n    NAME: msg.payload.name,\n    EMAIL:msg.payload.email,\n    PHONE: msg.payload.phone,\n    SUBJECT: msg.payload.sub,\n    SOCIALTONE: social_tone,\n    EMOTIONTONE: emotion_tone\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":320,"wires":[["b2364aa0.35fd18"]]},{"id":"30aad440.fb8a6c","type":"watson-tone-analyzer-v3","z":"3f83af3c.5ee94","name":"","tones":"all","sentences":"true","contentType":"false","tone-method":"generalTone","interface-version":"2016-05-19","inputlang":"en","service-endpoint":"","x":280,"y":80,"wires":[["252aedad.5832f2"]]},{"id":"c3beeea3.7a40f","type":"function","z":"3f83af3c.5ee94","name":"","func":"msg.payload= msg.payload.sub\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":200,"wires":[["30aad440.fb8a6c"]]},{"id":"252aedad.5832f2","type":"function","z":"3f83af3c.5ee94","name":"","func":"var var1 = msg.response.document_tone.tone_categories[0].tones\nvar score1 = 0\nvar i = 0\nvar emotion_tone\nfor (i=0;i<5;i++)\n{\n    if (var1[i].score >= score1)\n    {\n        score1 = var1[i].score\n        emotion_tone = var1[i].tone_name\n    }\n}\nvar var2 = msg.response.document_tone.tone_categories[2].tones\nvar score2 = 0\nvar j = 0\nvar social_tone\nfor (j=0;j<5;j++)\n{\n    if (var2[j].score >= score2)\n    {\n        score2 = var1[j].score\n        social_tone = var2[j].tone_name\n    }\n}\nvar reply,reply1,reply2\nif(emotion_tone == \"Joy\")\n{\n    reply1 = \"Tone of your response is \" + emotion_tone + \". Thank you for the positive review.\"\n}\nelse\n{\n    reply1 = \"Tone of your response is \" + emotion_tone + \". Applogies for the inconvenience caused.\"\n}\nglobal.set(\"emotion_tone\",emotion_tone)\nglobal.set(\"social_tone\", social_tone)\nreply2 = \" Thank you for the \" + social_tone + \" response.\"\nreply = reply1 + reply2\nmsg.response = reply\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["1ecb2ff1.9ff44"]]},{"id":"1ecb2ff1.9ff44","type":"ui_text","z":"3f83af3c.5ee94","group":"7fb2c480.23d85c","order":1,"width":6,"height":2,"name":"","label":"","format":"{{msg.response}}","layout":"col-center","x":710,"y":80,"wires":[]},{"id":"cfae6bcc.554048","type":"ui_template","z":"3f83af3c.5ee94","group":"894c1eaa.bd35e","name":"Sentiment Analysis","order":1,"width":0,"height":0,"format":"<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n  \n  <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\" integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\" crossorigin=\"anonymous\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\" integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\" crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\" integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\" crossorigin=\"anonymous\"></script>\n\n<div>\n    <a href=\"https://node-red-aftnm.eu-gb.mybluemix.net/uibuilder/home.html\"><button class=\"btn btn-primary\">Home</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-gaurav.eu-gb.mybluemix.net/ui/#!/0?socketid=RENvfV0W6yQzxBRfAAAB\"><button class=\"btn btn-primary\">Predictions</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-aftnm.eu-gb.mybluemix.net/uibuilder/dashboard.html\"><button class=\"btn btn-primary\">Meal Analysis</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-aftnm.eu-gb.mybluemix.net/uibuilder/sentiment.html\"><button class=\"btn btn-primary\">Sentiment Analysis</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-gaurav.eu-gb.mybluemix.net/ui/#!/1?socketid=L_7hlS9-yQzNga2FAAAH\"><button class=\"btn btn-primary\">Feedback</button></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":550,"y":200,"wires":[[]]},{"id":"a83e8b08.260f18","type":"ui_group","z":"","name":"Form","tab":"f229ae88.2eee9","order":2,"disp":true,"width":6,"collapse":false},{"id":"89e89c3d.21ff4","type":"ui_group","z":"","name":"Status","tab":"f229ae88.2eee9","order":3,"disp":true,"width":"6","collapse":false},{"id":"e4e5a25d.075a6","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net","db":"BLUDB","port":"50000","name":"FEEDBACK"},{"id":"7fb2c480.23d85c","type":"ui_group","z":"","name":"ToneAnalysis","tab":"f229ae88.2eee9","order":4,"disp":true,"width":"6","collapse":false},{"id":"894c1eaa.bd35e","type":"ui_group","z":"","name":"Sentiment Analysis","tab":"f229ae88.2eee9","order":1,"disp":false,"width":"12","collapse":false},{"id":"f229ae88.2eee9","type":"ui_tab","z":"","name":"Feedback","icon":"dashboard","order":2,"disabled":false,"hidden":false}]