Website/home.json
[{"id":"abe5a789.d728f8","type":"tab","label":"Home","disabled":false,"info":""},{"id":"7d8268ec.469648","type":"csv","z":"abe5a789.d728f8","name":"","sep":",","hdrin":true,"hdrout":false,"multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"x":430,"y":140,"wires":[["f246757b.ba0c08"]]},{"id":"f246757b.ba0c08","type":"function","z":"abe5a789.d728f8","name":"","func":"var arr = msg.payload\nvar id = global.get(\"id\")\nfor (i=0;i<arr.length;i++)\n{\n    if(arr[i].id == id)\n    {\n        var val = arr[i]\n    }\n}\nmsg.payload = val\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":200,"wires":[["73c41b7c.a80ee4","ca30e677.7ba298","f44604b2.b86e08"]]},{"id":"a914624d.f75ba","type":"http request","z":"abe5a789.d728f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/SmartPracticeschool/SBSPS-Challenge-4509-Optimized-Warehouse-Management/master/catboost_1%20(1).csv","tls":"","persist":false,"proxy":"","authType":"","x":270,"y":140,"wires":[["7d8268ec.469648"]]},{"id":"2cab0af0.c5b5a6","type":"ui_form","z":"abe5a789.d728f8","name":"","label":"","group":"778a960f.a174a8","order":1,"width":0,"height":0,"options":[{"label":"Enter the ID","value":"id","type":"text","required":true,"rows":null}],"formValue":{"id":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["e1629ec9.da06d"]]},{"id":"e1629ec9.da06d","type":"function","z":"abe5a789.d728f8","name":"","func":"global.set(\"id\",msg.payload.id)\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":140,"wires":[["a914624d.f75ba"]]},{"id":"73c41b7c.a80ee4","type":"debug","z":"abe5a789.d728f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":140,"wires":[]},{"id":"ca30e677.7ba298","type":"ui_template","z":"abe5a789.d728f8","group":"3a72738a.2e965c","name":"","order":1,"width":6,"height":6,"format":"<div>\n    <p>\n        Id: {{msg.payload.id}}<br>\n        Number of Orders: {{msg.payload.num_orders}}\n    </p>\n    <br>\n    <p>\n        Week: {{msg.payload.week}}<br>\n        Center Id: {{msg.payload.center_id}}<br>\n        Meal Id: {{msg.payload.meal_id}}\n    </p>\n    <br>\n    <p>\n        Checkout Price: {{msg.payload.checkout_price}}<br>\n        Base Price: {{msg.payload.base_price}}<br>\n        emailer_for_promotion: {{msg.payload.emailer_for_promotion}}<br>\n        homepage_featured: {{msg.payload.homepage_featured}}\n    </p>\n    <br>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":583,"y":361,"wires":[[]]},{"id":"6720ee5f.255f2","type":"ui_text","z":"abe5a789.d728f8","group":"778a960f.a174a8","order":2,"width":0,"height":0,"name":"","label":"Predicted Num_Orders","format":"{{msg.payload}}","layout":"col-center","x":680,"y":280,"wires":[]},{"id":"f44604b2.b86e08","type":"function","z":"abe5a789.d728f8","name":"","func":"msg.payload = msg.payload.num_orders\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":200,"wires":[["6720ee5f.255f2"]]},{"id":"9bf20603.6086a8","type":"ui_template","z":"abe5a789.d728f8","group":"3ee08b81.bf8684","name":"Meal Analysis","order":0,"width":0,"height":0,"format":"<script src=\"https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <link rel=\"stylesheet\" href=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\" integrity=\"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T\" crossorigin=\"anonymous\">\n  \n  <script src=\"https://code.jquery.com/jquery-3.3.1.slim.min.js\" integrity=\"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo\" crossorigin=\"anonymous\"></script>\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\" integrity=\"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1\" crossorigin=\"anonymous\"></script>\n<script src=\"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\" integrity=\"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM\" crossorigin=\"anonymous\"></script>\n\n<div>\n    <a href=\"https://node-red-aftnm.eu-gb.mybluemix.net/uibuilder/home.html\"><button class=\"btn btn-primary\">Home</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-gaurav.eu-gb.mybluemix.net/ui/#!/0?socketid=RENvfV0W6yQzxBRfAAAB\"><button class=\"btn btn-primary\">Predictions</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-aftnm.eu-gb.mybluemix.net/uibuilder/dashboard.html\"><button class=\"btn btn-primary\">Meal Analysis</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-aftnm.eu-gb.mybluemix.net/uibuilder/sentiment.html\"><button class=\"btn btn-primary\">Sentiment Analysis</button></a>\n    &nbsp;&nbsp;&nbsp;&nbsp;<a href=\"https://node-red-gaurav.eu-gb.mybluemix.net/ui/#!/1?socketid=L_7hlS9-yQzNga2FAAAH\"><button class=\"btn btn-primary\">Feedback</button></a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":150,"y":360,"wires":[[]]},{"id":"778a960f.a174a8","type":"ui_group","z":"","name":"Food Demand Forecasting","tab":"32121303.263d4c","order":2,"disp":true,"width":"6","collapse":false},{"id":"3a72738a.2e965c","type":"ui_group","z":"","name":"Prediction","tab":"32121303.263d4c","order":3,"disp":true,"width":"6","collapse":false},{"id":"3ee08b81.bf8684","type":"ui_group","z":"","name":"Meal Analysis","tab":"32121303.263d4c","order":1,"disp":false,"width":"12","collapse":false},{"id":"32121303.263d4c","type":"ui_tab","z":"","name":"Meal Analysis","icon":"dashboard","order":1,"disabled":false,"hidden":false}]